<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fonts</key>
	<dict>
		<key>body</key>
		<dict>
			<key>name</key>
			<string>System</string>
			<key>size</key>
			<integer>17</integer>
		</dict>
		<key>headline</key>
		<dict>
			<key>name</key>
			<string>SystemBold</string>
			<key>size</key>
			<integer>26</integer>
		</dict>
		<key>subhead</key>
		<dict>
			<key>name</key>
			<string>SystemBold</string>
			<key>size</key>
			<integer>18</integer>
		</dict>
		<key>footnote</key>
		<dict>
			<key>name</key>
			<string>System</string>
			<key>size</key>
			<integer>14</integer>
		</dict>
		<key>caption1</key>
		<dict>
			<key>name</key>
			<string>System</string>
			<key>size</key>
			<integer>14</integer>
		</dict>
		<key>caption2</key>
		<dict>
			<key>name</key>
			<string>SystemBold</string>
			<key>size</key>
			<integer>17</integer>
		</dict>
	</dict>
	<key>colors</key>
	<dict>
		<key>primaryColor</key>
		<string>#EC6661</string>
		<key>secondaryColor</key>
		<string>#FFF2F1</string>
		<key>tertiaryColorLight</key>
		<string>#F9FBFC</string>
		<key>tertiaryColorDark</key>
		<string>#A7BCCE</string>
		<key>standardTextColor</key>
		<string>#000000</string>
		<key>darkTextColor</key>
		<string>#4A4A4A</string>
		<key>lightTextColor</key>
		<string>#9B9B9B</string>
		<key>disabledColor</key>
		<string>#F6F6F6</string>
		<key>darkTintColor</key>
		<string>#1194F6</string>
		<key>lightTintColor</key>
		<string>#E8E8E8</string>
		<key>confirmColor</key>
		<string>#47B04B</string>
		<key>infoColor</key>
		<string>#F7412D</string>
	</dict>
	<key>defaultPagingSize</key>
	<integer>24</integer>
</dict>
</plist>
